

$color-white: #ffffff;
$color-warning: #FF5A5E;
$color-primary: #41cbc0;
$color-default: #474747;
$color-golden: #c3aa82;
$color-golden-light: #E3CCA9;
$color-gray-light: #6a6a6a;
$bg-color-default: #f5f6f7;
$border-color-light: #eaeaea;
$border-color-default: #d8d8d8;
$font-color-light: #757575;
$font-size-default: 14px;
$font-color-special:#C3AA82